#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

h1 {
  display: flex;
  position: relative;
  margin: auto;
  color: aliceblue;
  top: 1%;
  font-size: 4em;
  font-weight: bolder;
}
.modal-body{
  width: fit-content;
}

.nametitle {
  font-size: 0.7em;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}


.containerForm{
  width: 100%;
}

.modal-body{
  width: 100%;
}
.bigbox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

form {
  width: 30em;
  text-align: left;
}

.form-control{
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  width: 20em;
  margin: 5px;
}

.card-body {
  width: 100%;
  text-align: left;
}
.card-title {
  font-size: 25px;
  color: #3d80cf;
  font-weight: 800;
}

.btn {
  margin-right: 10px;
}

.startButton {
  position: absolute;
  top: 2%;
  right: 5%;
  background-color: #3d80cf;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
